
/************************************* 
            BODY / WRAPPER 
**************************************/

body {
    font-size: 16px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
/************************************* 
                HEADER 
**************************************/
header {
    background-color: lightseagreen;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
header h1 {
    font-size: 3rem;
}

/************************************* 
            MAIN / GRAHIQUE 
**************************************/

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
main .wrapper-chart {
    width: 90%;
}

/************************************* 
                FOOTER 
**************************************/
footer {
    background-color: lightseagreen;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}